<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RubyVago</title>
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
    
</head>
<style>
body {
  background-image: url("https://www.edreams.com/blog/wp-content/uploads/sites/3/2016/03/car-friends.gif");
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
}
</style>
<body>
  <header>
    <h1>RubyVago<h1>
    <img scr=<%= "https://raw.githubusercontent.com/Iliyan-Y/makersBNB/master/public/rubyvago.png" %>>
  </header
  <div>
    <div>
        <a class="btn" href="/log_in">Log in</a>
    </div>
    <%= flash[:notice]%>
    <form action="/sign_up" method="post" class='sign_up_form'>
    <input required type='text' name='name' placeholder='fullname'>
    <input required type="email" name="email" placeholder="Enter email">
    <input minlength="5" required type="password" name="Password" placeholder="Enter password">
    <input required type="password" name="Password_confirmation" placeholder="Confirm the password">
    <input class="button" type="submit" value="Sign up">
    </form>
    
  </div>  
</body>
</html>
