<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MakersBNB</title>
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
    
</head>
<body>
  <div>
    <div>
        <a class="btn" href="/log_in">Log in</a>
    </div>

    <form action="/sign_up" method="post" class='sign_up_form'>
    <input required type='text' name='name' placeholder='fullname'>
    <input required type="email" name="email" placeholder="Enter email">
    <input required type="password" name="Password" placeholder="Enter password">
    <input required type="password" name="Password confirmation" placeholder="Confirm the password">
    <input class="button" type="submit" value="Sign up">
    </form>
    
  </div>  
</body>
</html>
