<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MakersBNB</title>
</head>
<body>
    <h1>Book a space</h1>
    <a href="/spaces/new">List a Space</a>
    <%= @user.name %>
</body>
</html>