<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
    
    <title>RubyVago | List a Space</title>
</head>
<body>
    <h1 class='header'>List a Space</h1>
    <p>Add your property specification</p>
    <div class='form'>
    <form action='/spaces/new' method='post' class='sign_up_form'>
    <span class="input"></span>
      <label for="property-name">Property name</label>
        <input type="text" name='property-name'>
        <span class="input"></span>
      <label for="property-description">Property description</label>
        <input type="text" name='property-description'>
        <span class="input"></span>
      <label for="property-location">Location</label>
        <input type="text" name='property-location'>
      <label for="property-price">Price per night (£)</label>
        <input type="text" name='property-price'>
      <label for='available-from'>Available from (YYYY/MM/DD)</label>
        <input type="text" name='available-from'>
      <label for='available-to'>Available to (YYYY/MM/DD)</label>
        <input type="text" name='available-to'>
    <input class="button" type="submit" value="Create listing">
    </form>
    </div>
   
</body>
</html>