body {
    font-family: 'Open Sans Condensed', sans-serif;
    background: #AFF7F0;
    text-align: center;
    background-size: 200% 100% !important;
    animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%);
    height: 100vh
}

.form {
width: 1100px;
margin-left: 160px;
}

input[type=text] {
    width: 100%;
    padding: 12px 200px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    text-align: center;
}
.button {
  @include z-2;
  background: #F9F9F9;
  background-position: 0 200px; 
  height: 56px;
  width: 120px;
  margin: auto;
  position: absolute;
  left: 0; right: 0;
  top: 75%;
  border-radius: 28px;
  transition: width .3s, border-radius .3s, height .3s .1s, top .3s .1s, background .0s .6s;
}

li {
    list-style-type: none;
    outline-style: solid;
    padding: 0.5em;
    margin: 1em;
}