body {
  font-family: "Open Sans Condensed", sans-serif;
  background: #aff7f0;
  text-align: center;
  background-size: 200% 100% !important;
  animation: move 10s ease infinite;
  transform: translate3d(0, 0, 0);
  background: linear-gradient(45deg, #49d49d 10%, #a2c7e5 90%);
  height: 100vh;
}
.btn {
  text-decoration: none;
  color: black;
  padding: 0.5em;
  border: 1px solid grey;
  background: hotpink;
  margin: 0.3em;
  border-radius: 12px;
}

.btn:hover{
  background: khaki;
}

.sign_up_form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  margin-top: 2em;
}

.sign_up_form input {
  margin: 1em;
  padding: 1em;
}

.form {
  width: 1100px;
  margin-left: 160px;
  margin-top: 2em;
}


.button {
  background: #f9f9f9;
  height: 56px;
  width: 120px;
 
  border-radius: 28px;
 
}

li {
  list-style-type: none;
  outline-style: solid;
  padding: 0.5em;
  margin: 1em;
}
